{% extends "base.html" %}
{% load static %}
{% block extra_title %}My Wishlist{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container bg-sheer-white text-brown">
    <h1 class="small-caps bold">My Wishlist</h1>
    {% if wishlisted_products %}
    <ul>
        <li class="list-inline-item">
            <a href="{% url 'profile' %}" class="btn btn-outline-black rounded-0 mt-5 qty-submit margin-t1"><i
                    class="fas fa-user"></i> To User Profile</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5 qty-submit margin-t1"><i
                    class="fas fa-store-alt prefix"></i> Continue Shopping</a>
        </li>
        <li class="list-inline-item">
            <form class="form" method="POST" action="{% url 'delete_wishlist' %}">
                {% csrf_token %}
                <button class="btn btn-outline-black rounded-0 mt-5 qty-submit margin-t1 block" id="delete-wishlist-btn"
                    type="submit" name="action">
                    <i class="fas fa-trash-alt"></i> Delete Wishlist
                </button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </li>
    </ul>
    <div class="row">


        {% for product in wishlisted_products %}
        <div class="row valign-wrapper wishlist-row grey-bottom-border">
            <div class="col s4">
                <!--Product Details-->
                <div class="image-container rounded my-5">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col s4 wishlist-info">
                <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                <p>€{{ product.price }}</p>
                <div class="row">
                    <!--Action Buttons-->
                    <div class="col s12 center-align form-buttons">
                        <a href="{% url 'product_detail' product.id %}"
                            class="btn btn-outline-black rounded-0 mt-5 qty-submit block"><i
                                class="fas fa-eye prefix"></i>
                            Details</a>
                        <form class="form inline-block" method="POST"
                            action="{% url 'remove_from_wishlist' product.id %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-black rounded-0 mt-5 qty-submit inline-block"
                                id="remove-wishlist-btn_{{product.id}}" type="submit" name="action">
                                <i class="fas fa-heart"></i> <span class="hide-on-small-only">Remove from
                                    Wishlist</span>
                            </button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
        <div class="col s12 center-align">
            <!--Navigation Buttons-->



        </div>
        {% else %}
        <div class="col s12 center-align">
            <p>Your wishlist is currently empty.</p>
            <a href="{% url 'products' %}" class="btn btn-black"> Browse all products</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% endblock %}